@{
    ViewData["Title"] = "Recuperar Senha";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/forgot.css" />
</head>

<body>
    <div class="reset-container">
        <img id="logoSenai"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEmhaEK0AahY6v7bsr8h61jxmKMol_EbpZag&s"
            alt="Logo Senai">
        <h1>Recuperar Senha</h1>

        <form id="resetForm">
            <div>
                <label for="email"><strong>E-mail</strong></label>
                <input type="email" id="email" placeholder="Digite seu e-mail" required>
            </div>
            <button id="resetBtn">Enviar Link de Redefinição</button>
        </form>

        <p id="message" style="color: red; display: none;"></p>

        <p><a id="resendLogin" href="@Url.Action("Login", "Account")">Voltar ao Login</a></p>
    </div>

    <script type="module" src="~/js/forgot.js"></script>
</body>

</html>
